.inputWrapper {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 5px;
}

.input {
    border: unset;
    padding: 5px;
    width: 100%;
}

.valid {
    border: 1px solid green;
}

.notValid {
    border: 1px solid red;
}

.iconWrapper {
    display: flex;
    align-items: center;
}