.passwordInputWrapper{
    display: flex;
    border: 1px solid rgba(0,0,0,0.2);
}

.passwordInput{
    border: unset;
    padding: 5px;
}

.valid{
    border: 1px solid green;
}

.notValid{
    border: 1px solid red;
}

.iconWrapper{
    display: flex;
    align-items: center;
}