.passwordInputWrapper{
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 2% 5px 0;
}

.passwordInput{
    border: unset;
    padding: 5px;
    width: 100%;
}

.valid{
    border: 1px solid green;
}

.notValid{
    border: 1px solid red;
}

.iconWrapper{
    display: flex;
    align-items: center;
}

.changeTypeIconWrapper {
    margin-left: auto;
}